.asset-item-actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 20px;
}

.page-text {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.page-text-item {
  display: flex;
  flex-direction: row;
}
