.category-tree {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  .node-structure {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    .tree-node {
      display: flex;
      align-items: center;
    }
    .category-relation {
      display: flex;
      align-items: center;
      .material-icons {
        font-size: 1em;
      }
    }
  }

  .choose-node-container {
  }

  .action-link {
    .material-icons {
      font-size: 1em;
    }
  }
}

.category-tree-link-child {
  user-select: none;
  background-color: var(--color-background-5);
  border-left: 6px solid var(--color-background-5);
  // opacity: 0.8;
  padding: 10px;
  cursor: pointer;
  box-shadow: var(--bs-md);

  &:hover {
    border-left: 6px solid var(--color-secondary-1);
    // opacity: 1;
  }
  margin-left: 30px;
}

.category-tree-link-parent {
  user-select: none;
  cursor: default;
  background-color: var(--color-background-5);
  border-left: 6px solid var(--color-primary-1);
  padding: 10px;
  box-shadow: var(--bs-md);
  display: grid;
  grid-template-columns: 1fr auto;
  .material-icons {
    cursor: pointer;
    transform: scaleX(-1);
    &:hover {
      color: var(--color-secondary-1);
    }
  }
  .current-node-label {
    color: var(--color-foreground-4);
  }
}

.category-tree-list {
  .close-category-tree {
    // display: flex;
    // justify-content: flex-start;

    .material-icons {
      font-size: 1em;
    }
  }
}
