table {
  position: relative;
  border: 1px solid;
}

tr,
th {
  white-space: nowrap;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  border: 1px solid;
}

tbody,
tr,
td {
  white-space: nowrap;
  width: 20%;
  overflow-wrap: break-word;
  padding: 0.5rem;
  border: 1px solid;
}

/*****************************/
.table__paginate {
  padding: 12px 10px;
  float: right;
}
.table__paginate--dense {
  padding: 10px 6px;
}
.table__datagrid {
  overflow: auto;
}
.table__datagrid--nav-top.table__datagrid--fill-global {
  border-top: 1px solid var(--color-global-darker);
}
.table__datagrid--nav-bottom.table__datagrid--fill-global {
  border-bottom: 1px solid var(--color-global-darker);
}
.table__datagrid--nav-top.table__datagrid--fill-container {
  border-top: 1px solid var(--color-container-darker);
}
.table__datagrid--nav-bottom.table__datagrid--fill-container {
  border-bottom: 1px solid var(--color-container-darker);
}
.table__datagrid--nav-top.table__datagrid--fill-surface {
  border-top: 1px solid var(--color-surface-darker);
}
.table__datagrid--nav-bottom.table__datagrid--fill-surface {
  border-bottom: 1px solid var(--color-surface-darker);
}
.table__datagrid--nav-top.table__datagrid--fill-float {
  border-top: 1px solid var(--color-float-darker);
}
.table__datagrid--nav-bottom.table__datagrid--fill-float {
  border-bottom: 1px solid var(--color-float-darker);
}
