.landing {
  display: grid;
  align-content: flex-start;

  padding: 100px;
  min-height: 100vh;
  row-gap: 20px;

  .landing--action {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 20px;
  }
  .landing--asset-list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
  }
}

.asset-list-item {
  .asset-list-item--link {
    display: flex;
  }
}
