.search-results-section {
  .search-results-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  }
}

.search-section {
  display: grid;
  grid-auto-flow: row;
  //   row-gap: 10px;
  margin: 40px 0 0 0;
}

.search-alternate-section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  .no-article-match-message {
    color: var(--color-failure);
  }
  .no-article-match-action {
    display: grid;
    grid-auto-flow: row;
    justify-content: flex-start;
    row-gap: 10px;
  }
}
