.oak-table {
    .desktop-view {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 0px 10px 0px 10px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .mobile-view {
        @media (min-width: 768px) {
            display: none;
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        tr {
            height: 53px;
        }
        &.dense {
            tr {
                height: 33px;
            }
        }
        th, td {
            padding: 0px 15px 0px 15px;
            text-align: left;
            border-bottom: 1px solid var(--color-body-dim);
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        .card {
            // background-color: aquamarine;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            // margin: 0px 0px 10px 0px;
            padding: 10px;
        }
    }

    .pagination {
        font-size: 0.8em;
        user-select: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        height: 53px;

        .page-nav {
            display: flex;
            align-items: center;
        }

        .material-icons {
          vertical-align: middle;
          font-size: 28px;
          cursor: pointer;

          &.disabled {
              cursor: auto;
              color: var(--color-body-dim);
          }
        }
    }
}