.requests {
  .form {
    width: 100%;
  }

  .search-bar {
    display: grid;
    grid-template-columns: 0.5fr 0.4fr auto;
    justify-content: right;
    .clear {
      padding-left: 10px;
      display: flex;
      align-items: center;
      margin-bottom: 6px;
    }
  }

  .tag {
    cursor: pointer;
    background-color: var(--color-background-2);
    display: inline;
    margin-right: 10px;
    padding: 0px 4px 2px 4px;
    border-radius: 50px;
    text-align: center;
    vertical-align: center;
    font-size: 16px;
  }

  .action-icon {
    cursor: pointer;
    display: inline;
    padding-left: 10px;
    color: var(--color-primary-1);
    color: var(--color-foreground-2);

    .material-icons {
      vertical-align: middle;
      margin-right: 5px;
      font-size: 1em;
    }
  }

  .url,
  .title {
    word-break: break-word;
  }

  .timestamp {
    color: var(--color-foreground-2);
  }

  .comment {
    display: grid;
    grid-template-rows: auto;

    background-color: var(--color-background-2-2);
    border-radius: 3px;
    padding: 10px;

    .comment-date {
      display: flex;
      justify-content: flex-end;
    }

    .material-icons {
      vertical-align: middle;
      margin-right: 5px;
      font-size: 1.6em;
    }
  }

  .tag-1 > span {
    background-color: var(--color-tag-1);
  }

  .tag-2 > span {
    background-color: var(--color-tag-2);
  }

  .tag-3 > span {
    background-color: var(--color-tag-3);
  }

  .tag-4 > span {
    background-color: var(--color-tag-4);
  }

  .tag-5 > span {
    background-color: var(--color-tag-5);
  }

  .tag-6 > span {
    background-color: var(--color-tag-6);
  }

  .tag-1,
  .tag-2,
  .tag-3,
  .tag-4,
  .tag-5,
  .tag-6 {
    span {
      color: white;
      padding: 0px 6px 1px 6px;
      border-radius: 3px;
    }
  }
}
