.tag-section {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto;
  }
}

.tag-link {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}

.tag-article-section-action {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 20px;
  .see-other-tags {
    .material-icons {
      transform: scaleX(-1);
    }
  }
}
