.comment-list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;
}

.comment-section-subtitle {
  .comment-section-actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    column-gap: 20px;
  }
}

.comment-list {
  overflow-y: hidden;
  &.show {
    animation: slideDown 0.3s cubic-bezier(0, 1, 0.5, 1);
    height: auto;
  }
  &.hide {
    animation: slideUp 0.3s cubic-bezier(0, 1, 0.5, 1);
    height: 0px;
  }
}

.view-comment {
  background-color: var(--color-background-4);
  box-shadow: var(--bs-md);
  padding: 20px 26px;
  @media (max-width: 767px) {
    padding: 10px 6px;
  }
  border-radius: 4px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  .view-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .view-comment-meta {
      font-size: 13px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    .view-comment-actions {
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-end;
      column-gap: 20px;
      div {
        display: grid;
        grid-auto-flow: column;
      }
    }
  }

  &.answer {
    // background-color: var(--color-success);
    // border: 1px solid var(--color-success);
    border-left: 6px solid var(--color-success);
  }

  .accepted-answer-container {
    .accepted-answer-label {
      color: var(--color-foreground-4);
    }
    .answered-answer-icon {
      &.material-icons-outlined {
        font-size: 30px;
        // color: var(--color-success);
      }
    }
  }
}

.parent-comment-preview {
  background-color: var(--color-background-3);
  padding: 10px 20px;
  margin: 0 20px;
  @media (max-width: 767px) {
    margin: 0 4px;
    padding: 6px 6px;
  }
  border-radius: 4px;
  .parent-comment-preview-header {
    // font-size: 12px;
    // color: var(--color-foreground-4);
  }
  .parent-comment-preview-content {
  }
}

.comment-feedback {
  cursor: pointer;
  user-select: none;
  .material-icons {
    font-size: 1.2em;
    color: var(--color-foreground-3);
    &.helpful {
      &:hover,
      &.active {
        color: var(--color-success);
      }
    }

    &.not-helpful {
      &:hover,
      &.active {
        color: var(--color-failure);
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
