@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat|Lato|Open+Sans|Open+Sans+Condensed:300|Source+Sans+Pro&display=swap');
@import './theme.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .MuiInputBase-root,
  .MuiTypography-root {
    color: var(--color-foreground-1);
  }
  .MuiInputLabel-root {
    color: var(--color-foreground-2);
  }
  // overflow-y: overlay;
}

body.oak-dialog-open {
  // height: 100vh;
  overflow-y: hidden;
  padding-right: var(--scrollbar-width);
}

.body {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  .smooth-page {
    animation: opacity-in 1s cubic-bezier(0, 1, 0.5, 1);
  }

  .app-page {
    height: calc(100vh - var(--height-nav));
    min-height: calc(100vh - var(--height-nav));
    overflow: auto;
    background-color: var(--color-background-theme);
    padding-top: var(--height-nav);
  }

  .app-content {
    margin: 30px;
    background-color: var(--color-background-2);
    border-radius: 6px;
    box-shadow: var(--bs-xl);
    padding: 40px 60px;
    animation: slideRight 0.1s cubic-bezier(0, 1, 0.5, 1);
    @media (max-width: 767px) {
      padding: 10px;
      margin: 15px;
    }
  }

  .app-text {
    margin: auto;
    width: 80%;
    @media (max-width: 767px) {
      width: 100%;
    }
    word-break: break-word;
  }

  .page-title {
    font-size: var(--metric-typography-10);

    // border-left: 10px solid var(--color-primary-1);
    // padding-left: 10px;
    margin-bottom: 20px;
    display: grid;
    row-gap: 6px;

    .page-subtitle {
      font-size: var(--metric-typography-4);
      display: grid;
      grid-auto-flow: row;
      row-gap: 4px;
      justify-content: flex-start;
    }
  }

  .page-highlight {
    margin-top: 10px;
    background-color: var(--color-primary-1);
    height: 8px;
    width: 60px;
    border-radius: 4px;
  }

  .section-highlight {
    margin-top: 6px;
    background-color: var(--color-primary-1);
    height: 6px;
    width: 40px;
    border-radius: 4px;
  }

  .section-close {
    // margin: auto;
    margin-top: 20px;
    background-color: var(--color-foreground-1);
    height: 1px;
    width: 80%;
    border-radius: 4px;
    opacity: 0.2;
  }

  .align-vertical {
    display: flex;
    flex-direction: column;
  }

  .align-horizontal {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section-title {
    font-size: var(--metric-typography-8);
    margin-bottom: 10px;
    margin-top: 10px;
    // border-left: 6px solid var(--color-secondary-1);
    // padding-left: 10px;
    display: grid;
    row-gap: 6px;

    .section-subtitle {
      font-size: var(--metric-typography-4);
      display: grid;
      grid-auto-flow: row;
      row-gap: 4px;
      justify-content: flex-start;
    }

    &.position-right {
      justify-content: flex-end;
      // border-right: 6px solid var(--color-secondary-1);
      // padding-right: 10px;
      // border-left: none;
      // padding-left: none;
      justify-items: flex-end;
    }
  }

  .section-header,
  .page-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .user-form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
  }

  .hyperlink-container {
    cursor: pointer;
    .material-icons {
      color: var(--color-foreground-3);
    }
    &:hover {
      color: var(--color-primary-1);
      .material-icons {
        color: var(--color-primary-1);
      }
    }
  }

  .hyperlink-inline {
    .hyperlink {
      display: inline;
    }
  }

  .hyperlink {
    cursor: pointer;
    user-select: none;
    color: var(--color-primary-1);
    &:hover {
      text-decoration: underline;
    }
  }

  .hyperlink-drama {
    cursor: pointer;
    &:hover {
      color: var(--color-primary-1);
    }
  }

  .action-footer,
  .action-header {
    // height: 60px;
    // display: grid;
    // grid-auto-flow: column;
    // justify-content: center;
    // align-items: center;
    // column-gap: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    > * {
      margin: 5px 10px;
    }

    &.position-right {
      justify-content: flex-end;
    }

    &.position-between {
      justify-content: space-between;
    }

    &.position-center {
      justify-content: center;
    }

    &.position-left {
      justify-content: flex-start;
    }
  }

  .mobile-only {
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  .desktop-only {
    @media (max-width: 767px) {
      display: none !important;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-30vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUpIn {
  0% {
    transform: translateY(30vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
